* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.anim-1 {
  width: 450px;
  height: 510px;
  content: "";
  position: absolute;
  border: 5px solid #fff;
  border-radius: 100% 77% 77% 100% / 75% 55% 80% 100%;
  animation: anim-1 4s alternate infinite;
}


.anim-2 {
  width: 450px;
  height: 520px;
  content: "";
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50% 60% 70% 75% / 80% 77% 67% 100%;
  animation: anim-2 6s infinite;
}

.anim-3 {
  width: 450px;
  height: 500px;
  content: "";
  position: absolute;
  border: 5px solid #fff;
  border-radius: 80% 70% 80% 45% / 50% 40% 97% 80%;
  animation: anim-3 3s infinite;
}

.anim-4 {
  width: 450px;
  height: 500px;
  content: "";
  position: absolute;
  border: 5px solid #fff;
  border-radius: 100% 50% 80% 65% / 100% 60% 69% 55%;
  animation: anim-4 5s infinite;
}

@keyframes anim-1 {
  0% {
    transform: rotate(0deg);
    border-color: #00b894;
    box-shadow: 0px 0px 1009px 30px green;
  }
  25% {
    transform: rotate(50deg);
    border-color: red;
    box-shadow: 0px 0px 1009px 30px red;
  }
  50% {
    transform: rotate(200deg);
    border-color: blue;
    box-shadow: 0px 0px 1009px 30px blue;
  }
  75% {
    transform: rotate(50deg);
    border-color: yellow;
    box-shadow: 0px 0px 1009px 30px indigo;
  }
  100% {
    transform: rotate(0deg);
    border-color: chartreuse;
    box-shadow: 0px 0px 1009px 30px lightcoral;
  }
}
@keyframes anim-2 {
  0% {
    transform: rotate(0deg);
    border-color: red;
  }
  25% {
    transform: rotate(100deg);
    border-color: yellow;
  }
  50% {
    transform: rotate(300deg);
    border-color: chartreuse;
  }
  75% {
    transform: rotate(100deg);
    border-color: #00b894;
  }
  100% {
    transform: rotate(0deg);
    border-color: blue;
  }
}
@keyframes anim-3 {
  0% {
    transform: rotate(0deg);
    border-color: blue;
  }
  25% {
    transform: rotate(200deg);
    border-color: chartreuse;
  }
  50% {
    transform: rotate(400deg);
    border-color: yellow;
  }
  75% {
    transform: rotate(200deg);
    border-color: red;
  }
  100% {
    transform: rotate(0deg);
    border-color: #00b894;
  }
}
@keyframes anim-4 {
  0% {
    transform: rotate(0deg);
    border-color: yellow;
  }
  25% {
    transform: rotate(300deg);
    border-color: blue;
  }
  50% {
    transform: rotate(500deg);
    border-color: #00b894;
  }
  75% {
    transform: rotate(300deg);
    border-color: chartreuse;
  }
  100% {
    transform: rotate(0deg);
    border-color: red;
  }
}

h1 {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: text-anim 5s infinite;
}

@keyframes text-anim {
  0% {
    color: #00b894;
  }
  25% {
    color: red;
  }
  50% {
      color: yellow;
  }
  75% {
      color: blue;
  }
  100% {
      color: chartreuse;
  }
}
